{% extends '_partials/base.html' %}
{% load static%}


{% block title %} TODO Index {% endblock %}

{% include '_partials/messages.html' %}

{% block content %}
    TODOs
    {% include '_partials/messages.html' %}
    <br>
    {% if todos %}
    <table class="ui table">
        <thead>
            <td>Title</td>
            <td>Description</td>
            <td>Whether Completed</td>
            <td>Action</td>
        </thead>
        <tbody>
            {% for todo in todos %}
                <tr>
                    <td>{{ todo.title }}</td>
                    <td>{{ todo.description }}</td>
                    <td>
                        {% if todo.is_completed %}
                            Yes<i class="check icon green"></i>
                        {% else %}No
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'todo' todo.pk %}">
                            <i class="eye icon"></i>
                        </a>
                        <a href="{% url 'edit-todo' todo.pk %}">
                            <i class="pencil icon"></i>
                        </a>
                    </td>
                </tr>

            {% endfor %}
                <tr>
                    <td>
                        <a href="?filter=all">All {{ all_count }}</a>
                    </td>
                    <td>
                        <a href="?filter=incomplete"> {{ incomplete_count }} Remaining</a>
                    </td>
                    <td>
                        <a href="?filter=complete">{{ completed_count }} Completed</a>
                    </td>
                </tr>
        </tbody>
    </table>
    {% else %}
    <h1 class="ui header">No Todos. Create Some</h1>
    {% endif %}

{% endblock %}