{% extends '_partials/base.html' %}
{% load static%}


{% block title %} TODO Index {% endblock %}

{% block content %}
    <div class="ui grid">
        <div class="four wide column"></div>
        <div class="eight wide column">
            <div class="ui middle aligned center aligned grid">
                <div class="column mt-5">
                    <h2 class="ui teal image header">
                        <img src="{% static 'img/todo_logo.png' %}" class="image">
                        <div class="content">Log-in</div>
                    </h2>


                    {% include '_partials/messages.html' %}

                    <form class="ui large form" method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="ui stacked segment">
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="user icon"></i>
                                    <input type="text" name="username" required="true" value="{{ data.username }}" placeholder="Username" />
                                </div>
                            </div>

                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="lock icon"></i>
                                    <input type="password" required name="password" placeholder="Password" />
                                </div>
                            </div>


                            <button class="ui fluid large teal submit button">Log In</button>
                        </div>
                    </form>

                    <div class="ui message">Don't have an account? <a href="{% url 'register' %}">Register Here</a></div>
                    <div class="four wide column"></div>
                    <div class="ui message">
                        <a href="whatsapp://send?text=https://www.coinfirexpay.com/signup?id=xbr5kp">
                            <i class="p-2 fa fa-whatsapp" style="font-size:36px"></i>
                        </a>
                        <a href="fb-messenger://share/?link=https://www.coinfirexpay.com/signup?id=xbr5kp">
                            <i class="p-2 fa fa-facebook" style="font-size:36px"></i>
                        </a>
                        <a href="https://telegram.me/share/url?url=https://www.coinfirexpay.com/signup?id=xbr5kp">
                            <i class="p-2 fa fa-telegram" style="font-size:36px"></i>
                        </a>
                        <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site http://www.website.com." title="Share by Email">
                          <i class="p-2 fa fa-envelope" style="font-size:36px"></i>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>



{% endblock %}